* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
}

/* ============================= */
/* ============================= */

/* NAVIGATION */

nav {
  height: 60px;
  width: 100vw;
  display: grid;
  grid-template-columns: 4fr 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  border-bottom: 0.5px solid #9e8a6e;
}
nav > div:first-child {
  justify-self: start;
  margin-left: 30px;
}

nav > div > a > img {
  width: auto;
  height: 30px;
}

a {
  text-decoration: none;
  color: black;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
}
nav > div > a:hover {
  color: #0274e3;
  transition: 0.3s;
}

.active {
  color: #0274e3;
}
/* ============================= */
/* ============================= */

/* BODY */

/* ============================= */
/* ============================= */

/* FORM LOGIN */
.divLogin,
.containerUpdate,
.containerProfile {
  width: 100%;
  height: calc(100vh - 90px);
  display: grid;
  align-items: center;
  justify-items: center;
}

#frmLogin,
.divUpdate,
.profileDiv {
  width: 100%;
  height: auto;
  display: grid;
  justify-items: center;
  margin-top: -120px;
}

#frmLogin > div > label,
#frmLogin > label,
.divUpdate > label {
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  font-weight: 500;
}
#frmLogin > div > label > span,
.containerUpdate > label {
  font-family: "Poppins", sans-serif;
  color: #0274e3;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 50px;
}

.loginSpan {
  width: 200px;
  text-align: center;
}

input.error {
  border-bottom: 1px solid #a4031f;
}

input {
  width: 350px;
  margin-bottom: 40px;
  outline: none;
  border: none;
  border-bottom: 1px solid #0274e3;
  font-size: 16px;
}

button {
  background-color: #0c459e;
  border: none;
  color: white;
  width: 250px;
  height: 35px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
button:hover {
  color: #0c459e;
  background-color: white;
  border: 1px solid #0c459e;
}
/* ============================= */
/* ============================= */

/* UPDATE LOGIN */

.divUpdate > button:last-child {
  margin-top: 20px;
  border: 1px solid #a4031f;
  color: #a4031f;
  background-color: white;
}
.divUpdate > button:last-child:hover {
  background-color: #a4031f;
  color: white;
}

/* ============================= */
/* ============================= */

/* EDIT PROFILE */
.profileDiv {
  margin-bottom: 100px;
}
.profileDiv > h2 {
  font-family: "Poppins", sans-serif;
  color: #0274e3;
  font-size: 28px;
  font-weight: 600;
}

.profileDiv > h3 {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 500;
}

/* ============================= */
/* ============================= */

/* MAP & PROPERTIES */

.mapProperties {
  width: 100vw;
  height: calc(100vh - 90px);
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.map {
  border: 1px solid #bcbcbd;
}

.activeProperty {
  box-shadow: 0px 0px 5px 10px green;
}

/* ============================= */
/* ============================= */

/* FOOTER */

.bottom {
  display: grid;
  align-items: center;
  justify-items: center;
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 30px;
  border-top: 0.5px solid #bcbcbd;
}
.bottom > h4 {
  color: #0274e3;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

/* ============================= */
/* ============================= */
